<?xml version="1.0" encoding="UTF-8"?>

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- the application context definition for the springapp DispatcherServlet -->
    <bean name="/welcome.htm" class="springapp.web.ViewController" />
    <bean name="/updateEmployees.htm" class="springapp.web.EmployeeController" />
    <bean name="/addEmployee.htm" class="springapp.web.EmployeeController" />
    <bean name="/deleteEmployee.htm" class="springapp.web.EmployeeController" />
    <bean name="/activities.htm" class="springapp.web.ActivityController" />
    <bean name="/activitiesPrMonth.htm" class="springapp.web.ActivityController" />
    <bean name="/updateActivities.htm" class="springapp.web.UpdateActivityController" />
    <bean name="/activitiesCancel.htm" class="springapp.web.UpdateActivityController" />
    <bean name="/updateActivityTypes.htm" class="springapp.web.UpdateActivityController" />
    <bean name="/addActivityType.htm" class="springapp.web.UpdateActivityController" />
    <bean name="/activityList.htm" class="springapp.web.ActivityListController" />
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>
