<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app  xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="springapp" version="2.5">
	<display-name>My first REST Application</display-name>

	<!-- springapp servlet -->
	<servlet>
		<servlet-name>springapp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springapp</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>


	<resource-ref>
		<description>My DataSource Reference</description>
		<res-ref-name>jdbc/SimpleDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>




	<!-- Secured resources -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ForceLogin</web-resource-name>
			<description>Secured page for forcing the container to request login</description>
			<url-pattern>/home.htm</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ROLE_USER</role-name>
		</auth-constraint>

	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>AdminPages</web-resource-name>
			<description>Administrator-only pages</description>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ROLE_ADMIN</role-name>
		</auth-constraint>


	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Apollo11</realm-name>
		<form-login-config>
		<form-login-page>login.htm</form-login-page>
		<form-error-page>loginerror.htm</form-error-page>
		</form-login-config>
	</login-config>


	<security-role>
		<description>An authenticated user</description>
		<role-name>ROLE_USER</role-name>
	</security-role>

	<security-role>
		<description>An administrator of the web server</description>
		<role-name>ROLE_ADMIN</role-name>
	</security-role>

</web-app>
